.skills {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.skill-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1% 2% 2% 2%;
  height: 15vmin;
  width: 15vmin;
}

.react-icon path {
  color: #61DAFB;
}

.javascript-icon path {
  color: #F7DF1E;
}

.html-icon path {
  color: #E34F26;
}

.css-icon path {
  color: #1572B6;
}

.mocha-icon path {
  color: #8D6748;
}

.chai-icon path {
  color: #A30701;
}

.cypress-icon path {
  color: #95e4c5;
}

.photoshop-icon path {
  color: #31A8FF;
}

.git-icon path {
  color: #F05032;
}

.github-icon path {
  color: #ffffff;
}

.redux-icon path {
  color: #764ABC;
}

.router-icon path {
  color: #CA4245;
}


.next-icon path {
  color: #ffffff;
}

.vue-icon path {
  color: #41B883;
}

.jquery-icon path {
  color: #1266a9;
}

.node-icon path {
  color: #8CC84B;
}

.typescript-icon path {
  color: #3178c6;
}


.skill-box .skill-name {
  display: none;
}

.skill-box .skill-icon {
  height: 100%;
  transition: 0.2s;
}

.skill-box:hover .skill-icon, 
.skill-box:hover .skill-icon path {
  color: #ffffff;
  height: 70%;
}

.skill-box:hover .skill-name {
  overflow-wrap: break-word;
  text-align: center;
  font-size: larger;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  position: absolute;
  border: 1px solid white;
  box-shadow: 0px 0px 10px #ff4da6;
}

#skills {
  text-align: center;
  font-size: 40px;
  animation: glow 1s ease-in-out infinite alternate;
  transition: 0.3s;
}


@media (max-width: 600px){
  #skills {
    font-size: 30px;
  }
  .skill-box:hover .skill-name {
    font-size: x-small;
    font-weight: 900;
  }
}