@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fugaz";
  src: url('/fonts/FugazOne-Regular.ttf'),
}

@font-face {
  font-family: "Montserrat";
  src: url('/fonts/FugazOne-Regular.ttf'),
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}
