html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #222121;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

body > div {
  width: inherit;
  height: inherit;
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px; 
}