html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

body > div {
  width: inherit;
  height: inherit;
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

h2 {
  margin: 0%;
}