nav {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: 0.2s;
}

.logo:hover {
  filter: drop-shadow(0px 0px 7px #ff4da6);
}

ul {
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
}

nav a, nav li {
  text-decoration: none;
  color: white;
  margin: 25% 5% 25% 0;
  transition: 0.2s;
}

.mail {
  font-size: 30px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

nav a:hover, nav li:hover {
  text-decoration: overline;
  text-shadow: 0px 0px 10px #ff4da6;
}

.connect:hover svg path {
  filter: drop-shadow(0px 0px 2px #ff4da6);
}

a:hover, li:hover, 
.connect:hover svg path {
  color: white;
  fill: white;
}

@media (max-width: 600px){
  nav {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    margin-left: 2%;
    height: 100px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 50px;
  }
  .socials {
    display: none;
  }
}